# Игнорирование виртуальной среды Python
venv/
.venv/

ffmpeg-win
temp
# Игнорирование файлов с окружением
.env

*.ini
*.qgz
# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.idea/
**/.idea/

